In [1]:
#导入库
import os
import pandas as pd
import warnings

In [2]:
#指定文件夹
folder_path = r"C:\Users\carll\OneDrive\运营数据\24年运营表\订单报告txt"

In [3]:
#获取文件列表
oder_document_list = [pd.read_csv(os.path.join(folder_path, file_name), sep = "\t")
                      for file_name in os.listdir(folder_path)
                      if file_name.endswith("txt")
                     ]

In [4]:
#拼接列表
original_order_table = pd.concat(oder_document_list, ignore_index = True)
cleaned_order_table = original_order_table.copy()
pd.set_option("display.max_columns", None)  # 显示所有列
#查看数据
cleaned_order_table.info()
cleaned_order_table["sales-channel"].value_counts()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51416 entries, 0 to 51415
Data columns (total 46 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   amazon-order-id                      51416 non-null  object
 1   merchant-order-id                    51416 non-null  object
 2   purchase-date                        51416 non-null  object
 3   last-updated-date                    51416 non-null  object
 4   order-status                         51416 non-null  object
 5   fulfillment-channel                  51416 non-null  object
 6   sales-channel                        51416 non-null  object
 7   order-channel                        0 non-null      float64
 8   url                                  67 non-null     object
 9   ship-service-level                   51416 non-null  object
 10  product-name                         51416 non-null  object
 11  sku                                  51416 non-null  object
 12  asin                                 51416 non-null  object
 13  item-status                          51416 non-null  object
 14  quantity                             51416 non-null  int64
 15  currency                             49139 non-null  object
 16  item-price                           49139 non-null  float64
 17  item-tax                             44181 non-null  float64
 18  shipping-price                       9585 non-null   float64
 19  shipping-tax                         1202 non-null   float64
 20  gift-wrap-price                      40 non-null     float64
 21  gift-wrap-tax                        28 non-null     float64
 22  item-promotion-discount              13037 non-null  float64
 23  ship-promotion-discount              7847 non-null   float64
 24  ship-city                            51289 non-null  object
 25  ship-state                           51267 non-null  object
 26  ship-postal-code                     51276 non-null  object
 27  ship-country                         51289 non-null  object
 28  promotion-ids                        15328 non-null  object
 29  cpf                                  0 non-null      float64
 30  signature-confirmation-recommended   51416 non-null  bool
 31  is-business-order                    49859 non-null  object
 32  purchase-order-number                0 non-null      float64
 33  price-designation                    0 non-null      float64
 34  item-extensions-data                 0 non-null      float64
 35  customized-url                       0 non-null      float64
 36  customized-page                      0 non-null      float64
 37  is-replacement-order                 47772 non-null  object
 38  original-order-id                    332 non-null    object
 39  number-of-items                      0 non-null      float64
 40  tax-collection-model                 27533 non-null  object
 41  tax-collection-responsible-party     27533 non-null  object
 42  address-type                         0 non-null      float64
 43  payment-method-details               30557 non-null  object
 44  is-exchange-order                    30911 non-null  object
 45  is-transparency                      30911 non-null  object
dtypes: bool(1), float64(17), int64(1), object(27)
memory usage: 17.7+ MB

sales-channel
Amazon.com       51025
Non-Amazon         284
Non-Amazon US       54
Amazon.ca           50
Amazon.com.mx        3
Name: count, dtype: int64

In [5]:
#提取列
cleaned_order_table = cleaned_order_table[["amazon-order-id", "purchase-date", "item-status", "sales-channel", 
                                          "sku", "asin", "quantity", "item-price", 
                                          "item-promotion-discount"]]
cleaned_order_table

,amazon-order-id,purchase-date,item-status,sales-channel,sku,asin,quantity,item-price,item-promotion-discount
0,S01-0653268-7183550,2024-01-05T04:58:23+00:00,Unshipped,Non-Amazon,MG002-5,B08X73NZKR,1,NaN,NaN
1,113-6058520-2099464,2024-01-11T07:57:33+00:00,Shipped,Amazon.com,MA010-20,B0CD79P88H,1,49.99,NaN
2,111-4566965-5299450,2024-01-11T04:58:25+00:00,Shipped,Amazon.com,MG003-1,B08X6C993S,1,12.99,NaN
3,111-4566965-5299450,2024-01-11T04:58:25+00:00,Shipped,Amazon.com,MG001-1,B08X6RVVJ9,1,12.99,NaN
4,113-3946167-7817022,2024-01-11T04:30:56+00:00,Shipped,Amazon.com,MA004-10,B0B6CWV8LN,2,59.98,5.0
...,...,...,...,...,...,...,...,...,...
51411,113-1041811-1817015,2024-05-07T11:13:03+00:00,Shipped,Amazon.com,cwp-001,B07MH7WTSN,1,19.89,NaN
51412,113-8973490-6333855,2024-05-07T11:11:16+00:00,Shipped,Amazon.com,cwp-001,B07MH7WTSN,1,19.89,NaN
51413,112-9989598-3025827,2024-05-07T10:53:18+00:00,Shipped,Amazon.com,cwp-001,B07MH7WTSN,2,39.78,NaN
51414,113-5610082-8276212,2024-05-07T10:07:01+00:00,Shipped,Amazon.com,cwp-001,B07MH7WTSN,1,19.89,NaN
51415,113-9500172-8785051,2024-05-07T08:36:21+00:00,Shipped,Amazon.com,cwp-001,B07MH7WTSN,1,19.89,NaN

In [6]:
#评估空值删除空值
cleaned_order_table[(cleaned_order_table["item-price"].isnull()) & ((cleaned_order_table["item-status"] != "Cancelled") & 
                                                                    (cleaned_order_table["sales-channel"] == "Amazon.com"))]
#可以排除item-status是"Cancelled"的值
#需要提取sale-channel是"Amazon.com"的
cleaned_order_table = cleaned_order_table.query("`item-status` != 'Cancelled' & `sales-channel` == 'Amazon.com'")
cleaned_order_table.info()
print((cleaned_order_table["item-status"] == "Canclled").sum())
print((cleaned_order_table["sales-channel"] != "Amazon.com").sum())

<class 'pandas.core.frame.DataFrame'>
Index: 49088 entries, 1 to 51415
Data columns (total 9 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   amazon-order-id          49088 non-null  object
 1   purchase-date            49088 non-null  object
 2   item-status              49088 non-null  object
 3   sales-channel            49088 non-null  object
 4   sku                      49088 non-null  object
 5   asin                     49088 non-null  object
 6   quantity                 49088 non-null  int64
 7   item-price               49088 non-null  float64
 8   item-promotion-discount  13037 non-null  float64
dtypes: float64(2), int64(1), object(6)
memory usage: 3.7+ MB
0
0

In [7]:
#该表格不应存在重复值，由于没有分类数据，也不存在数据不一致
#检查错误值
cleaned_order_table.describe()

           quantity    item-price  item-promotion-discount
count  49088.000000  49088.000000             13037.000000
mean       1.203940     32.196669                 4.465622
std        0.696539     33.380177                 4.293143
min        1.000000      0.000000                 0.010000
25%        1.000000     19.890000                 0.990000
50%        1.000000     19.890000                 3.000000
75%        1.000000     34.990000                 8.000000
max       26.000000   1188.460000               159.950000

In [8]:
cleaned_order_table.query("`item-price` == 1188.46") #数据合理不存在错误值
cleaned_order_table

,amazon-order-id,purchase-date,item-status,sales-channel,sku,asin,quantity,item-price,item-promotion-discount
1,113-6058520-2099464,2024-01-11T07:57:33+00:00,Shipped,Amazon.com,MA010-20,B0CD79P88H,1,49.99,NaN
2,111-4566965-5299450,2024-01-11T04:58:25+00:00,Shipped,Amazon.com,MG003-1,B08X6C993S,1,12.99,NaN
3,111-4566965-5299450,2024-01-11T04:58:25+00:00,Shipped,Amazon.com,MG001-1,B08X6RVVJ9,1,12.99,NaN
4,113-3946167-7817022,2024-01-11T04:30:56+00:00,Shipped,Amazon.com,MA004-10,B0B6CWV8LN,2,59.98,5.0
5,113-5171348-8102605,2024-01-11T04:01:10+00:00,Shipped,Amazon.com,MA003-20,B0CD7DQHYT,1,44.99,NaN
...,...,...,...,...,...,...,...,...,...
51411,113-1041811-1817015,2024-05-07T11:13:03+00:00,Shipped,Amazon.com,cwp-001,B07MH7WTSN,1,19.89,NaN
51412,113-8973490-6333855,2024-05-07T11:11:16+00:00,Shipped,Amazon.com,cwp-001,B07MH7WTSN,1,19.89,NaN
51413,112-9989598-3025827,2024-05-07T10:53:18+00:00,Shipped,Amazon.com,cwp-001,B07MH7WTSN,2,39.78,NaN
51414,113-5610082-8276212,2024-05-07T10:07:01+00:00,Shipped,Amazon.com,cwp-001,B07MH7WTSN,1,19.89,NaN
51415,113-9500172-8785051,2024-05-07T08:36:21+00:00,Shipped,Amazon.com,cwp-001,B07MH7WTSN,1,19.89,NaN

In [9]:
#更改数据类型

cleaned_order_table["purchase-date"] = pd.to_datetime(cleaned_order_table["purchase-date"])
cleaned_order_table["pacifictime"] = cleaned_order_table["purchase-date"].dt.tz_convert("America/Los_Angeles").dt.date
cleaned_order_table["pacifictime"] = pd.to_datetime(cleaned_order_table["pacifictime"])
cleaned_order_table.info()

<class 'pandas.core.frame.DataFrame'>
Index: 49088 entries, 1 to 51415
Data columns (total 10 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   amazon-order-id          49088 non-null  object
 1   purchase-date            49088 non-null  datetime64[ns, UTC]
 2   item-status              49088 non-null  object
 3   sales-channel            49088 non-null  object
 4   sku                      49088 non-null  object
 5   asin                     49088 non-null  object
 6   quantity                 49088 non-null  int64
 7   item-price               49088 non-null  float64
 8   item-promotion-discount  13037 non-null  float64
 9   pacifictime              49088 non-null  datetime64[ns]
dtypes: datetime64[ns, UTC](1), datetime64[ns](1), float64(2), int64(1), object(5)
memory usage: 4.1+ MB

C:\Users\carll\AppData\Local\Temp\ipykernel_2560\1841329952.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cleaned_order_table["purchase-date"] = pd.to_datetime(cleaned_order_table["purchase-date"])
C:\Users\carll\AppData\Local\Temp\ipykernel_2560\1841329952.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cleaned_order_table["pacifictime"] = cleaned_order_table["purchase-date"].dt.tz_convert("America/Los_Angeles").dt.date
C:\Users\carll\AppData\Local\Temp\ipykernel_2560\1841329952.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cleaned_order_table["pacifictime"] = pd.to_datetime(cleaned_order_table["pacifictime"])

In [10]:
#完成清洗
cleaned_order_table = cleaned_order_table.loc[:, ["pacifictime", "sku", "asin", "quantity", "item-price", "item-promotion-discount"]]
cleaned_order_table.info()
cleaned_order_table

<class 'pandas.core.frame.DataFrame'>
Index: 49088 entries, 1 to 51415
Data columns (total 6 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   pacifictime              49088 non-null  datetime64[ns]
 1   sku                      49088 non-null  object
 2   asin                     49088 non-null  object
 3   quantity                 49088 non-null  int64
 4   item-price               49088 non-null  float64
 5   item-promotion-discount  13037 non-null  float64
dtypes: datetime64[ns](1), float64(2), int64(1), object(2)
memory usage: 2.6+ MB

,pacifictime,sku,asin,quantity,item-price,item-promotion-discount
1,2024-01-10,MA010-20,B0CD79P88H,1,49.99,NaN
2,2024-01-10,MG003-1,B08X6C993S,1,12.99,NaN
3,2024-01-10,MG001-1,B08X6RVVJ9,1,12.99,NaN
4,2024-01-10,MA004-10,B0B6CWV8LN,2,59.98,5.0
5,2024-01-10,MA003-20,B0CD7DQHYT,1,44.99,NaN
...,...,...,...,...,...,...
51411,2024-05-07,cwp-001,B07MH7WTSN,1,19.89,NaN
51412,2024-05-07,cwp-001,B07MH7WTSN,1,19.89,NaN
51413,2024-05-07,cwp-001,B07MH7WTSN,2,39.78,NaN
51414,2024-05-07,cwp-001,B07MH7WTSN,1,19.89,NaN
51415,2024-05-07,cwp-001,B07MH7WTSN,1,19.89,NaN

In [11]:
#获取广告数据
ad_folder_path = r"C:\Users\carll\OneDrive\运营数据\24年运营表\广告报告"
with warnings.catch_warnings():
    warnings.simplefilter('ignore', category=UserWarning)
    ad_list = [pd.read_excel(os.path.join(ad_folder_path, file_name))
                             for file_name in os.listdir(ad_folder_path)
                             if file_name.endswith("xlsx")]

original_ad_table = pd.concat(ad_list, ignore_index = True)

In [12]:
#检查表格提取必要列
original_ad_table
cleaned_ad_table = original_ad_table.copy()
cleaned_ad_table = cleaned_ad_table.loc[:, ["日期", "广告SKU", "广告ASIN", "展示量", "点击量", "花费", "7天总销售额", "7天总订单数(#)", "7天总销售量(#)"]]
cleaned_ad_table.info()
cleaned_ad_table.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 46025 entries, 0 to 46024
Data columns (total 9 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   日期         46025 non-null  datetime64[ns]
 1   广告SKU      46023 non-null  object
 2   广告ASIN     46023 non-null  object
 3   展示量        46025 non-null  int64
 4   点击量        46025 non-null  int64
 5   花费         46025 non-null  float64
 6   7天总销售额     46025 non-null  float64
 7   7天总订单数(#)  46025 non-null  int64
 8   7天总销售量(#)  46025 non-null  int64
dtypes: datetime64[ns](1), float64(2), int64(4), object(2)
memory usage: 3.2+ MB

,日期,广告SKU,广告ASIN,展示量,点击量,花费,7天总销售额,7天总订单数(#),7天总销售量(#)
0,2024-01-01,MA003-10,B095SF92MP,292,7,2.23,0.00,0,0
1,2024-01-02,MA003-10,B095SF92MP,225,5,1.50,0.00,0,0
2,2024-01-03,MA003-10,B095SF92MP,207,5,1.50,0.00,0,0
3,2024-01-04,MA003-10,B095SF92MP,203,2,0.58,49.99,1,1
4,2024-01-05,MA003-10,B095SF92MP,270,3,0.87,0.00,0,0

In [13]:
#评估和清洗空值
cleaned_ad_table[cleaned_ad_table["广告SKU"].isnull()]
cleaned_ad_table.dropna(subset = ["广告SKU"], inplace = True)
cleaned_ad_table["广告SKU"].isnull().sum()
#经评估只需要处理广告sku空观察值，其它空值是合理的不需要处理
#本数据集不需要处理重复值，错误值和不一致数据

0

In [14]:
#更改数据类型完成清洗
cleaned_ad_table = cleaned_ad_table.loc[:, ["日期", "广告SKU", "广告ASIN", 
                                            "展示量", "点击量", "花费", "7天总销售额", "7天总订单数(#)", "7天总销售量(#)"]]
cleaned_ad_table.rename(columns = {"日期": "pacifictime", "广告SKU": "sku", "广告ASIN": "asin"}, inplace = True)
cleaned_ad_table.reset_index(drop = True)

,pacifictime,sku,asin,展示量,点击量,花费,7天总销售额,7天总订单数(#),7天总销售量(#)
0,2024-01-01,MA003-10,B095SF92MP,292,7,2.23,0.00,0,0
1,2024-01-02,MA003-10,B095SF92MP,225,5,1.50,0.00,0,0
2,2024-01-03,MA003-10,B095SF92MP,207,5,1.50,0.00,0,0
3,2024-01-04,MA003-10,B095SF92MP,203,2,0.58,49.99,1,1
4,2024-01-05,MA003-10,B095SF92MP,270,3,0.87,0.00,0,0
...,...,...,...,...,...,...,...,...,...
46018,2024-05-08,CKL008-20,B0CKYZNCJT,1597,5,1.94,0.00,0,0
46019,2024-05-09,CKL008-20,B0CKYZNCJT,2676,13,5.07,0.00,0,0
46020,2024-05-10,CKL008-20,B0CKYZNCJT,1298,9,3.51,0.00,0,0
46021,2024-05-11,CKL008-20,B0CKYZNCJT,1614,7,2.73,0.00,0,0
46022,2024-05-10,CKL002-10,B0CCJGRR91,0,0,0.00,0.00,0,0

In [15]:
#读取产品表
product_file_path = r'C:\Users\carll\OneDrive\运营数据\AMY-新\listing信息.xlsx'
product_table = pd.read_excel(product_file_path, sheet_name='美国商品信息')
product_table = product_table.loc[:, ["sku", "组合", "负责人", "类型"]]
product_table.info()
#订单查询表
merge_order = pd.merge(cleaned_order_table, product_table, on = ["sku"], how = "left")
merge_order = merge_order.loc[:, ["pacifictime", "负责人", "类型", "组合", 
                    "sku", "asin", "quantity", "item-price", "item-promotion-discount"]]
#广告表查询
merge_ad = pd.merge(cleaned_ad_table, product_table, on = ["sku"], how = "left")
merge_ad = merge_ad.loc[:, ["pacifictime", "负责人", "类型", "组合", 
                 "sku", "asin", "展示量", "点击量", "花费", "7天总销售额", "7天总订单数(#)", "7天总销售量(#)"]]

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1292 entries, 0 to 1291
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   sku     1292 non-null   object
 1   组合      1292 non-null   object
 2   负责人     1292 non-null   object
 3   类型      1292 non-null   object
dtypes: object(4)
memory usage: 40.5+ KB

In [16]:
merge_order.head()

,pacifictime,负责人,类型,组合,sku,asin,quantity,item-price,item-promotion-discount
0,2024-01-10,蔡鹏荣,家装,MA,MA010-20,B0CD79P88H,1,49.99,NaN
1,2024-01-10,蔡鹏荣,家装,MG,MG003-1,B08X6C993S,1,12.99,NaN
2,2024-01-10,蔡鹏荣,家装,MG,MG001-1,B08X6RVVJ9,1,12.99,NaN
3,2024-01-10,蔡鹏荣,家装,MA,MA004-10,B0B6CWV8LN,2,59.98,5.0
4,2024-01-10,蔡鹏荣,家装,MA,MA003-20,B0CD7DQHYT,1,44.99,NaN

In [17]:
#分组聚合订单表
group_order_table = merge_order.groupby(["pacifictime", "负责人", "类型", "组合", "sku", "asin"])[["quantity", "item-price", "item-promotion-discount"]].sum()
group_order_table

                                             quantity  item-price  \
pacifictime 负责人 类型 组合 sku        asin
2024-01-01  梁家驹 宠物 ch chw-001    B08BCDW57V         9      179.01
                      chw-002    B09DK8NNPG         2       39.78
                   cw cwp-001    B07MH7WTSN       228     4495.14
                      cwp-002    B07MR9S2ZF        32      647.59
            梁结霞 化妆 MM MM001      B089VTPQL9         1       16.99
...                                               ...         ...
2024-05-11  蔡鹏荣 家装 SP SP019-160N B0CJH97TB1         2       99.98
                      SP022-100  B0C7KD8BS9         1       34.99
                      SP023-100  B0C7K7Q9LG         1       44.99
                      SP028-160  B0CTFGJ67Q         2      109.98
                      SP028-2    B0CJDX1MLG         1        3.99

                                             item-promotion-discount
pacifictime 负责人 类型 组合 sku        asin
2024-01-01  梁家驹 宠物 ch chw-001    B08BCDW57V                    17.88
                      chw-002    B09DK8NNPG                     0.00
                   cw cwp-001    B07MH7WTSN                   108.40
                      cwp-002    B07MR9S2ZF                    21.30
            梁结霞 化妆 MM MM001      B089VTPQL9                     8.50
...                                                              ...
2024-05-11  蔡鹏荣 家装 SP SP019-160N B0CJH97TB1                     0.00
                      SP022-100  B0C7KD8BS9                    10.00
                      SP023-100  B0C7K7Q9LG                     0.00
                      SP028-160  B0CTFGJ67Q                     0.00
                      SP028-2    B0CJDX1MLG                     0.00

[10163 rows x 3 columns]

In [18]:
merge_ad.head()

,pacifictime,负责人,类型,组合,sku,asin,展示量,点击量,花费,7天总销售额,7天总订单数(#),7天总销售量(#)
0,2024-01-01,蔡鹏荣,家装,MA,MA003-10,B095SF92MP,292,7,2.23,0.00,0,0
1,2024-01-02,蔡鹏荣,家装,MA,MA003-10,B095SF92MP,225,5,1.50,0.00,0,0
2,2024-01-03,蔡鹏荣,家装,MA,MA003-10,B095SF92MP,207,5,1.50,0.00,0,0
3,2024-01-04,蔡鹏荣,家装,MA,MA003-10,B095SF92MP,203,2,0.58,49.99,1,1
4,2024-01-05,蔡鹏荣,家装,MA,MA003-10,B095SF92MP,270,3,0.87,0.00,0,0

In [19]:
#分组聚合广告表
group_ad_table = merge_ad.groupby(["pacifictime", "负责人", "类型", "组合", "sku", "asin"])[["展示量", "点击量", "花费", "7天总销售额", "7天总订单数(#)", "7天总销售量(#)"]].sum()
group_ad_table

                                              展示量  点击量      花费   7天总销售额  \
pacifictime 负责人 类型 组合 sku       asin
2024-01-01  梁家驹 宠物 ch chw-001   B08BCDW57V  13523   46   37.79    39.78
                      chw-002   B09DK8NNPG    625    2    0.64     0.00
                   cw cwp-001   B07MH7WTSN  40258  358  286.60  1497.75
                      cwp-002   B07MR9S2ZF    173    0    0.00     0.00
            梁结霞 化妆 bx bx023     B0C7ZZBP9V   2005    3    1.30     0.00
...                                           ...  ...     ...      ...
2024-05-11  蔡鹏荣 家装 SP SP028-100 B0CJDXJVP1    539    7    2.19   109.98
                      SP028-160 B0CTFGJ67Q     62    1    0.33     0.00
                      SP028-2   B0CJDX1MLG   1340    8    2.64     0.00
                      SP028-32  B0CJDWY5G8     75    0    0.00     0.00
                      SP032-100 B0CPLP6LDM    946    7    2.73     0.00

                                            7天总订单数(#)  7天总销售量(#)
pacifictime 负责人 类型 组合 sku       asin
2024-01-01  梁家驹 宠物 ch chw-001   B08BCDW57V          2          2
                      chw-002   B09DK8NNPG          0          0
                   cw cwp-001   B07MH7WTSN         69         75
                      cwp-002   B07MR9S2ZF          0          0
            梁结霞 化妆 bx bx023     B0C7ZZBP9V          0          0
...                                               ...        ...
2024-05-11  蔡鹏荣 家装 SP SP028-100 B0CJDXJVP1          1          2
                      SP028-160 B0CTFGJ67Q          0          0
                      SP028-2   B0CJDX1MLG          0          0
                      SP028-32  B0CJDWY5G8          0          0
                      SP032-100 B0CPLP6LDM          0          0

[19609 rows x 6 columns]

In [20]:
#用外连接合并表格, 最终的分析表格
combine_table = group_order_table.join(group_ad_table, how = "outer")
combine_table = combine_table.fillna(0)
combine_table = combine_table.reset_index()
combine_table["负责人"] = combine_table["负责人"].astype("category")
combine_table["类型"] = combine_table["类型"].astype("category")
combine_table["组合"] = combine_table["组合"].astype("category")
combine_table = combine_table.rename(columns = {"pacifictime": "日期", "quantity": "销量", "item-price": "销售额", "item-promotion-discount": "折扣", 
                                               "花费": "广告费", "7天总销售额": "广告销售额", "7天总订单数(#)": "广告订单", "7天总销售量(#)": "广告销量"})
combine_table.to_csv(r"C:\Users\carll\OneDrive\运营数据\pyOperateanalytics\combineTable.csv", index = False)
combine_table.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23186 entries, 0 to 23185
Data columns (total 15 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   日期      23186 non-null  datetime64[ns]
 1   负责人     23186 non-null  category
 2   类型      23186 non-null  category
 3   组合      23186 non-null  category
 4   sku     23186 non-null  object
 5   asin    23186 non-null  object
 6   销量      23186 non-null  float64
 7   销售额     23186 non-null  float64
 8   折扣      23186 non-null  float64
 9   展示量     23186 non-null  float64
 10  点击量     23186 non-null  float64
 11  广告费     23186 non-null  float64
 12  广告销售额   23186 non-null  float64
 13  广告订单    23186 non-null  float64
 14  广告销量    23186 non-null  float64
dtypes: category(3), datetime64[ns](1), float64(9), object(2)
memory usage: 2.2+ MB

In [36]:
import plotly.graph_objects as go
import ipywidgets as widgets
from datetime import date, timedelta
from IPython.display import display, clear_output, HTML, display_html, IFrame
import numpy as np
pd.set_option('display.max_rows', None)  # 设置为 None 表示无限制
pd.set_option('display.max_columns', None)  # 设置为 None 表示无限制

In [55]:
# 定义一个函数，将数值格式化为字符串，根据不同的列应用不同的格式
def format_column(col_name, series):
    if col_name in ['销量', '展示量', '点击量', '广告订单', '广告销量', '自然销量']:
        return series.astype(int).astype(str)
    elif col_name in ['销售额', '折扣', '广告费', '广告销售额', 'CPC', 'CPO']:
        return series.apply(lambda x: f'${x:.1f}')
    elif col_name in ['广销比', '折扣比', 'tAcos', '点击率', 'ad转化率', 'Acos']:
        return series.apply(lambda x: f'{x:.1%}')
    else:
        return series

# 更新 display_scrollable_df 函数以应用数据格式化
def display_scrollable_df(df, height='500px'):
    # 格式化数据
    for col in df.columns:
        df[col] = format_column(col, df[col])
    
    # 将DataFrame转换为HTML表格字符串
    df_html = df.to_html(index=False, escape=False)  # 设置 escape=False 以正确显示格式化的字符串
    
    # 使用HTML和CSS创建固定表头和滚动体的表格
    html = f'''
    <html>
    <head>
        <style>
            .scrollable {{
                height: {height};
                overflow-y: auto;
                margin: 0;
            }}
            .dataframe {{
                border-collapse: collapse;
                width: 100%;
            }}
            .dataframe th, .dataframe td {{
                border: 1px solid black;
                padding: 8px;
                text-align: left;
                font-size: 10px;  # 调整字体大小
                min-width: 200px;  # 设置最小列宽
            }}
            .dataframe thead th {{
                position: sticky;
                top: 0;
                background-color: #f8f8f8;
            }}
        </style>
    </head>
    <body>
        <div class="scrollable">
            {df_html}
        </div>
    </body>
    </html>
    '''
    display_html(html, raw=True)

#绘图变量选择器
column_selector = widgets.SelectMultiple(
    options=["销售额", "广销比", "折扣比", "tAcos", "点击率", "CPC", "ad转化率", "自然销量", "Acos", "CPO"],
    value=['销售额', '广销比'],  # 默认选中的列
    description='选择变量',
    disabled=False,
    style={'height': '400px'}  # 调整高度以显示所有选项
)

#创建结束日期选择器
min_date = combine_table["日期"].min()
max_date = combine_table["日期"].max()
end_date_picker = widgets.DatePicker(
    description = "结束日期", 
    disabled = False, 
    value = max_date,  #默认为数据集最新的日期
    min = min_date, 
    max = max_date)
#创建开始日期选择器
start_date_picker = widgets.DatePicker(
    description = "开始日期", 
    disabled = False, 
    value = end_date_picker.value - timedelta(days = 7),  #默认开始时间为7天前
    min = min_date, 
    max = max_date)

#创建日期聚合方式选择器
date_aggregate_option = widgets.ToggleButtons(
    options = ["按天", "按周", "按月"],
    description = "视图",
    disabled = False, 
    button_style = ""  # 样式'success', 'info', 'warning', 'danger' or ''这里选默认
)

#创建负责人选择器
responsible_option = widgets.Dropdown(
    options = [""] + sorted(combine_table["负责人"].unique().tolist()), 
    description = "负责人",
    value = "", 
    disabled = False
)
#创建类型选择器
type_option = widgets.Dropdown(
    options= [""] + sorted(combine_table['类型'].unique().tolist()),
    description='类型:',
    value = "",
    disabled=False,
)
# 组合选择器
combo_option = widgets.Dropdown(
    options=[""] + sorted(combine_table['组合'].unique().tolist()),
    description='组合:',
    value = "", 
    disabled=False,
)

# 创建一个新的输出部件用于绘图
plot_output = widgets.Output()

#绘图函数
def draw_plot(data, x, ys):
    with plot_output:
        plot_output.clear_output(wait=True)  # 在重新绘图前清除现有图形
        
        # 创建一个Plotly图形对象
        fig = go.Figure()

        # 计算y轴位置偏移
        axis_count = len(ys)
        axis_spacing = 1 / (axis_count + 1)
        
        # 为每个y轴变量添加折线图层
        for i, y in enumerate(ys):
            # 添加轨迹
            fig.add_trace(go.Scatter(
                x=data[x], 
                y=data[y], 
                mode='lines+markers', 
                name=y,
                yaxis=f'y{i + 1}'  # 每个变量使用不同的y轴
            ))

            # 动态添加y轴到图形布局
            fig.update_layout(**{
                f'yaxis{i + 1}': {
                    'title': y,
                    'side': 'left' if i % 2 == 0 else 'right',
                    'overlaying': 'y' if i > 0 else None,
                    'position': 0.05 * i if i % 2 == 0 else 1 - 0.05 * i
                }
            })

        # 设置图表的标题和x轴标签
        fig.update_layout(
            title="数据趋势分析",
            xaxis_title=x,
            hovermode="x unified",
            width=1000,
            height=400
        )

        # 确保图表目录存在
        if not os.path.exists('plotly_plots'):
            os.mkdir('plotly_plots')
        filepath = 'plotly_plots/plot.html'
        fig.write_html(filepath)

        # 显示图表，使用 IFrame
        display(IFrame(src=filepath, width=1100, height=410))
        
# 创建了一个输出表格的小部件。这个小部件可以捕获和显示来自 Python 代码的输出
output = widgets.Output()

#生成表格函数
def filter_data (*args): #选择器值变化更新表格函数*args接受任意数量的位置形参
    #使用上下文管理器with output表示接下来的代码块将会在 output小部件的上下文中执行。
    #这意味着该代码块中生成的所有输出都将直接显示在这个 output 小部件中
    #而不是在标准的输出区域（如终端或Jupyter的输出单元）。
    with output:
        #清除 output 小部件中的当前内容。如果 wait 参数设置为 True，它将等待直到新的输出被生成才进行清除。
        output.clear_output(wait=True) 
        #按照日期选择器部件的值变化更新表格
        start_date = pd.Timestamp(start_date_picker.value) #Timestamp类似pd.to_datetime()
        end_date = pd.Timestamp(end_date_picker.value) #由于 DatePicker 控件返回的是 datetime.date需要转换日期格式才能进行比较
        if end_date < start_date:
            end_date_picker.value = start_date
            return
        #筛选符合日期范围的数据
        filtered_data = combine_table[(combine_table["日期"] >= start_date) & (combine_table["日期"] <= end_date)
        ]

        # 应用基于选择器的筛选条件
        if responsible_option.value:
            filtered_data = filtered_data[filtered_data['负责人'] == responsible_option.value]
        if type_option.value:
            filtered_data = filtered_data[filtered_data['类型'] == type_option.value]
        if combo_option.value:
            filtered_data = filtered_data[filtered_data['组合'] == combo_option.value]
        
        #基于选择器选择，分组键列表
        group_keys = ["日期"]
        if responsible_option.value:
            group_keys.append('负责人')
        if type_option.value:
            group_keys.append('类型')
        if combo_option.value:
            group_keys.append('组合')
        
        #按日期聚合方式选择器更新表格
        numeric_columns = filtered_data.select_dtypes(include = ["number"]).columns.tolist()  #提取数值类型的列名
        if date_aggregate_option.value == "按天":
            filtered_data = filtered_data.groupby(group_keys, observed=True)[numeric_columns].sum().reset_index()
        elif date_aggregate_option.value == "按周":
            #.dt.to_period('W'): 将datetime对象转换为按周时间周期。
            #.apply(lambda r: r.start_time): 获取每个周周期的开始日期。
            filtered_data["日期"] = pd.to_datetime(filtered_data["日期"].dt.to_period("W").apply(lambda r: r.start_time))
            filtered_data = filtered_data.groupby(group_keys, observed=True)[numeric_columns].sum().reset_index()
        elif date_aggregate_option.value == "按月":
            filtered_data["日期"] = pd.to_datetime(filtered_data["日期"].dt.to_period("M").apply(lambda r: r.start_time))
            filtered_data = filtered_data.groupby(group_keys, observed=True)[numeric_columns].sum().reset_index()

        # 计算广销比
        filtered_data['广销比'] = np.where(filtered_data['销售额'] != 0, filtered_data['广告费'] / filtered_data['销售额'], np.nan)
        # 计算折扣比
        filtered_data['折扣比'] = np.where(filtered_data['销售额'] != 0, filtered_data['折扣'] / filtered_data['销售额'], np.nan)
        # 计算 tAcos
        filtered_data['tAcos'] = np.where(filtered_data['销售额'] != 0, (filtered_data['广告费'] + filtered_data['折扣']) / filtered_data['销售额'], np.nan)
        # 计算点击率
        filtered_data['点击率'] = np.where(filtered_data['展示量'] != 0, filtered_data['点击量'] / filtered_data['展示量'], np.nan)
        # 计算 CPC
        filtered_data['CPC'] = np.where(filtered_data['点击量'] != 0, filtered_data['广告费'] / filtered_data['点击量'], np.nan)
        # 计算转化率
        filtered_data['ad转化率'] = np.where(filtered_data['点击量'] != 0, filtered_data['广告销量'] / filtered_data['点击量'], np.nan)
        # 计算自然销量
        filtered_data['自然销量'] = filtered_data['销量'] - filtered_data['广告销量']
        # 计算 Acos
        filtered_data['Acos'] = np.where(filtered_data['广告销售额'] != 0, filtered_data['广告费'] / filtered_data['广告销售额'], np.nan)
        # 计算 CPO
        filtered_data['CPO'] = np.where(filtered_data['广告销量'] != 0, filtered_data['广告费'] / filtered_data['广告销量'], np.nan)
   
        #复制表格
        summary_data = filtered_data.copy()
        summary_data["日期"] = summary_data["日期"].dt.date
        
        # 计算汇总行前先进行必要的总和计算
        total_ad_cost = filtered_data['广告费'].sum()
        total_sales = filtered_data['销售额'].sum()
        total_discount = filtered_data['折扣'].sum()
        total_clicks = filtered_data['点击量'].sum()
        total_impressions = filtered_data['展示量'].sum()
        total_ad_sales = filtered_data['广告销售额'].sum()
        total_ad_sales_volume = filtered_data['广告销量'].sum()
        # 计算汇总指标
        summary = {
            "日期" : "汇总", 
            "销量" : filtered_data["销量"].sum(),
            "销售额" : filtered_data["销售额"].sum(),
            "折扣" : filtered_data["折扣"].sum(),
            "展示量" : filtered_data["展示量"].sum(),
            "点击量" : filtered_data["点击量"].sum(),
            "广告费" : filtered_data["广告费"].sum(),
            "广告销售额" : filtered_data["广告销售额"].sum(),
            "广告订单" : filtered_data["广告订单"].sum(),
            "广告销量" : filtered_data["广告销量"].sum(),
            '广销比': total_ad_cost / total_sales if total_sales != 0 else np.nan,
            '折扣比': total_discount / total_sales if total_sales != 0 else np.nan,
            'tAcos': (total_ad_cost + total_discount) / total_sales if total_sales != 0 else np.nan,
            '点击率': total_clicks / total_impressions if total_impressions != 0 else np.nan,
            'CPC': total_ad_cost / total_clicks if total_clicks != 0 else np.nan,
            'ad转化率': total_ad_sales_volume / total_clicks if total_clicks != 0 else np.nan,
            '自然销量': total_sales - total_ad_sales,
            'Acos': total_ad_cost / total_ad_sales if total_ad_sales != 0 else np.nan,
            'CPO': total_ad_cost / total_ad_sales_volume if total_ad_sales_volume != 0 else np.nan
        }
        # 将汇总行添加到 DataFrame 中
        summary_df = pd.DataFrame([summary], index=['汇总'])
        summary_data_table = pd.concat([summary_data, summary_df])
        
        #显示表格
        display_scrollable_df(summary_data_table)
        #display(filtered_data) # 使用display函数，以便在Jupyter中更好地显示DataFrame
        
        # 选定绘图的列
        selected_columns = column_selector.value  # 示例：根据用户互动动态选择这些列
        draw_plot(filtered_data, '日期', selected_columns)
    
#为选择器部件添加观察者，将filter_data函数绑定到日期选择器的变化事件，使得每当日期选择器的值改变时，filter_data函数自动再次运行。
column_selector.observe(filter_data, "value")
start_date_picker.observe(filter_data, "value")
end_date_picker.observe(filter_data, "value")
date_aggregate_option.observe(filter_data, "value")
responsible_option.observe(filter_data, "value")
type_option.observe(filter_data, "value")
combo_option.observe(filter_data, "value")

#设置初始化用户界面布局，一开始是空的
# 绘图变量选择器
display(column_selector)
display(plot_output)
display(start_date_picker, end_date_picker)
display(date_aggregate_option)
display(responsible_option)
display(type_option)
display(combo_option)
display(output)
#调用函数根据当前选择更新显示内容
filter_data()

SelectMultiple(description='选择变量', index=(0, 1), options=('销售额', '广销比', '折扣比', 'tAcos', '点击率', 'CPC', 'ad转化率',…

Output()

DatePicker(value=Timestamp('2024-05-04 00:00:00'), description='开始日期', max=Timestamp('2024-05-11 00:00:00'), m…

DatePicker(value=Timestamp('2024-05-11 00:00:00'), description='结束日期', max=Timestamp('2024-05-11 00:00:00'), m…

ToggleButtons(description='视图', options=('按天', '按周', '按月'), value='按天')

Dropdown(description='负责人', options=('', '梁家驹', '梁结霞', '莫燕玉', '蔡鹏荣', '陈绮钰'), value='')

Dropdown(description='类型:', options=('', '化妆', '地板', '宠物', '家装', '工具'), value='')

Dropdown(description='组合:', options=('', 'AK', 'AT', 'AU', 'BD', 'BQ', 'BY', 'CB', 'CKL', 'CP', 'CT', 'EX', 'F…

Output()